APP_NAME=Palm Mind RAG Backend
DEBUG=True

QDRANT_URL=https://your-qdrant-cluster-url
QDRANT_API_KEY=your-qdrant-api-key

OPENROUTER_API_KEY=your-openrouter-api-key
OPENROUTER_MODEL=openrouter/free

REDIS_URL=redis://default:your-redis-password@your-redis-host:6379
